#########################################
# Specific for project
#########################################

TODO.md


#########################################
# Database
#########################################

*.sql
*.sqlite
*.sqlite3


#########################################
# Dropbox
#########################################

.dropbox
.dropbox/*


#########################################
# Logs
#########################################

*.log


#########################################
# Node
#########################################

npm-debug.log
node_modules


#########################################
# OSX
#########################################

.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes


#########################################
# Packages
#########################################

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.iso


#########################################
# Sass
#########################################

*.sass-cache


#########################################
# Sitemap
#########################################

sitemap.xml
sitemap.xml.gz


#########################################
# Sublime Text
#########################################

sftp-config.json
*.sublime-workspace


#########################################
# Subversion
#########################################

.svn/


#########################################
# Windows
#########################################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/