@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	position: relative;
	background-color: #5cc1a4;
	font-family: 'Open Sans', sans-serif;
	-webkit-animation: animationIn .6s ease both;
	animation: animationIn .6s ease both;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

@-webkit-keyframes animationIn {
	0% {
		top: -47px;
		opacity: 0;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes animationIn {
	0% {
		top: -47px;
		opacity: 0;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}

h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	color: #10775a;
	text-align: center;
	font-size: 24px;
	margin-top: 0;
}

.logo {
	display: block;
	margin: 40px auto 0 auto;
}

form {
	position: relative;
	margin: 30px auto;
	max-width: 400px;
}

label,
p {
	display: block;
	margin-bottom: 5px;
	color: #fff;
	font-weight: bold;
}

input,
textarea {
	margin: 0 0 20px 0;
	padding: 12px 5%;
	width: 90%;
	border: 0;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 5px 5px #49b294;
	color: #2C3E50;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

input[type="checkbox"] {
	margin-right: 5px;
	width: auto;
	background-color: transparent;
	box-shadow: none;
}

button {
	overflow: hidden;
	margin-top: 10px;
	padding: 14px 5%;
	width: 100%;
	border: 0;
	border-radius: 4px;
	background-color: #24886b;
	box-shadow: 5px 5px #49b294;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

button:hover {
	background-color: #2c3e50;
}

button:active {
	margin-top: 15px;
	background-color: #2c3e50;
	box-shadow: 0px 0px #49b294;
}

button::-moz-focus-inner {
	border: 0;
}

.mc-loading button {
	background: #2c3e50 url("../img/loading.gif") center center no-repeat;
	text-indent: -9999px;
}

ul {
	padding: 0;
	list-style-type: none;
}

li label {
	display: inline;
}

.mc-response {
	margin: 25px 0;
	-webkit-animation: fadeIn .6s ease both;
	animation: fadeIn .6s ease both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.mc-success {
	color: green;
}

.mc-error form {
	color: red;
	-webkit-animation: formError .4s ease both;
	animation: formError .4s ease both;
}

@-webkit-keyframes formError {
	0% {
		left: -3em;
	}

	25% {
		left: 3em;
	}

	50% {
		left: -3em;
	}

	75% {
		left: 3em;
	}

	100% {
		left: 0;
	}
}

@keyframes formError {
	0% {
		left: -3em;
	}

	25% {
		left: 3em;
	}

	50% {
		left: -3em;
	}

	75% {
		left: 3em;
	}

	100% {
		left: 0;
	}
}
